@import url("./../util/fakeSpan.css");
@media only screen and (min-width: 0px) {
    .TaskAddComponent>.row>.col>p, .TaskAddComponent>.row>.col-3>p, .addButton {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 768px) {
    .TaskAddComponent>.row>.col>p, .TaskAddComponent>.row>.col-3>p, .addButton {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .TaskAddComponent>.row>.col>p, .TaskAddComponent>.row>.col-3>p, .addButton {
        font-size: 1.2rem;
    }
}

.TaskAddComponent {
    position: relative;
}

.TaskAddComponent>.row {
    transition: 0.35s ease-out;
}

.TaskAddComponent>.row>.col>p, .TaskAddComponent>.row>.col-3>p, .addButton {
    color: rgba(255, 255, 255, 0.75);
}

.addButton:hover {
    color: rgb(255, 255, 255);
}

.addButton:hover {
    cursor: pointer;
}